@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td,figure{margin:0;padding:0;}
body{font:12px  "宋体"; word-wrap:break-word;}
li{list-style:none;}
a{text-decoration:none;}
mark{background: none;}
fieldset,a img,.bor0{border: none;}
input,textarea{outline: none;}
textarea{resize: none;}
img{display: block;}
a,u,s,del{color:#666;text-decoration:none}
i,em,b,th{font-style:normal;font-weight:100;} 
table{border-collapse:collapse;}
.ind2{text-indent:2em;}

/*单行文本溢出以省略号显示*/
.over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*块元素垂直方向居中*/
.valign:after{content:"";clear:both;display:inline-block;width:0;height:100%;vertical-align:middle;}
/*万能清除浮动法*/
.clear{zoom: 1;}/*IE里的清除浮动*/
.clear:before{content: "";display: table;}/*解决向上传递问题*/
.clear:after{content: "";clear: both;display: block;}/*万能解决高度塌陷*/
.ccenter{display: flex;justify-content: center;align-items: center;}/*弹性盒居中*/
.ccenter2{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}/*块元素居中*/








